.carousel-item {
    height: 80vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .first-section {
    margin-top: 80px;
  }
  .section-first-para {
    font-size: 28px;
    font-weight: 500;
    text-decoration: underline;
  }
  .section-second-para {
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
  }
  .table-title {
    margin-left: 80px;
    margin-top: 20px;
    text-decoration: underline;
    color: #000000ab;
    text-align: center;
  }
  
#preventions {
  text-align: center;
}
#myselect {
  padding: 10px;
  border-radius: 5px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.sec-third-para {
  font-size: 20px;
  margin-left: 20px;
  font-weight: 500;
}